body{
    font-family: 'PT Sans', sans-serif;
}
.axis text {
    font: 10px sans-serif;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.boundingBox{
    cursor: pointer;
    fill: grey;
    fill-opacity: .3;
    pointer-events: all;
}

.brush{
    fill: darkgrey;
    fill-opacity: .5;
    pointer-events: none;
}

html,
        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #F7F7FF;
        }
        
        html body #whole {
            width: 100%;
            height: 100%;
            margin-left: 0;
            padding: 0;
            position: absolute;
            top: 180px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0);
        }


        #maplegend {
            width: 800px;
            height: 300px;
            position: absolute;
            top: 60px;
            left: 1940px;
            padding: 0;
            z-index: 100;

        }
        #borderleg{
            width: 180px;
            height: 170px;
            position: absolute;
            top: 85px;
            left: 2210px;
            border: 2px solid;
            border-radius: 25px;
            z-index:100;
            background: #FFFFFF;
            z-index: 90;
        }
        
        #form {
            width: 400px;
            height: 40px;
            position: absolute;
            top: 100px;
            left: 20px;
            padding: 0;
            font-size: 22px;
        }

         #curbrush {
            width: 400px;
            height: 40px;
            position: absolute;
            top: 100px;
            left: 20px;
            padding: 0;
            font-size: 22px;
        }


        #station {
            width: 600px;
            height: 40px;
            position: absolute;
            top: 170px;
            left: 1220px;
            padding: 0;
            z-index: 60;
            font-size: 22px;
        }

        #weekday{
             font-size: 30px;
        }

        #mapVis {
            width: 1200px;
            height: 1200px;
            position: absolute;
            top: 20px;
            left: 1200px;
            padding: 0;
            z-index: 50;
        }
        
        html body #whole #svg {
            width: 25%;
            height: 75%;
            margin-right: 75%;
            padding: 0;
            color: "white"
        }
        
        #legend {
            width: 700px;
            height: 700px;
            position: absolute;
            top: 20px;
            left: 20px;
            padding: 0;
        }

        #capacitybar{
            width: 100px;
            height: 100px;
            position: absolute;
            top: 10px;
            left: 20px;
            padding: 0;
            font-size: 22px;
        }
        
        #graphs {
            width: 800px;
            height: 700px;
            position: absolute;
            top: 400px;
            left: 20px;
            padding: 0;
        }
        
        #pieVis {
            width: 400px;
            height: 400px;
            position: absolute;
            top: 500px;
            left: 20px;
            padding: 0;
        }
        
        #countVis {
            width: 500px;
            height: 500px;
            position: absolute;
            top: 250px;
            left: 20px;
            padding: 0;
        }
        
        #userVis {
            width: 300px;
            height: 300px;
            position: absolute;
            top: 500px;
            left: 400px;
            padding: 0;
        }
        
        html body #whole #svg #graph {
            width: 100%;
            height: 50%;
            margin-right: 0;
            padding: 0;
        }
        
        .stations,
        .stations svg {
            position: absolute;
        }
        
        .stations svg {
            width: 10000px;
            height: 10000px;
            padding-right: 100px;
            font: 10px sans-serif;
        }
        
        .stations circle {
           /* fill: brown;*/
         /*   stroke: yellow;
            fill: yellow;*/
            stroke-width: 1.5px;
            position: absolute;
            top: 100px;
            left: 100px;
            padding: 0;
        }
        }
        
        #title {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        
        #day {
            position: absolute;
            top: 60px;
            left: 20px;
        }
        
        .area {
            stroke-width: 'red';
        }

        .nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 420px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 3.2em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
